@import "../mixins";
@import "../variables";

.drop-tables .tabs { border-bottom: 1px solid $color-separator-secondary; display: flex; gap: 0.0625rem; }
.drop-tables .tabs input { display: none; }
.drop-tables .tabs label { background: $color-secondary; border-top: 4px solid $color-separator-primary; border-radius: 4px 4px 0 0; cursor: pointer; flex: 1; font-size: 1.25rem; font-weight: bold; line-height: 1.35; padding: 0.75rem; text-align: center; transition: border-color 0.2s ease; }
.drop-tables.ver-1 .tabs label:hover, .drop-tables.ver-1 .tabs input:checked + label { border-top-color: $color-version-ver-1; }
.drop-tables.ver-2 .tabs label:hover, .drop-tables.ver-2 .tabs input:checked + label { border-top-color: $color-version-ver-2; }
.drop-tables.episode-i-ii .tabs label:hover, .drop-tables.episode-i-ii .tabs input:checked + label { border-top-color: $color-version-episode-i-ii; }
.drop-tables.blue-burst .tabs label:hover, .drop-tables.blue-burst .tabs input:checked + label { border-top-color: $color-version-episode-iv; }
.drop-tables .table { max-height: 70vh; max-width: 100%; overflow: auto; @include mobile { max-height: none; overflow-x: auto; overflow-y: visible; } }
.drop-tables table { border-collapse: separate; border-spacing: 0; display: none; width: max-content; }
.drop-tables:has(.tabs input:nth-of-type(1):checked) table:nth-of-type(1), .drop-tables:has(.tabs input:nth-of-type(2):checked) table:nth-of-type(2), .drop-tables:has(.tabs input:nth-of-type(3):checked) table:nth-of-type(3) { display: table; }
.drop-tables th, .drop-tables td { background: $color-secondary; border: 0; }
.drop-tables tr > * { border-bottom: 1px solid $color-separator-tertiary; border-right: 1px solid $color-separator-tertiary; width: 10rem; }
.drop-tables tr > *:first-child { border-left: 1px solid $color-separator-tertiary; width: 20rem; @include mobile { width: 15rem; } }
.drop-tables thead th { border-bottom-color: $color-separator-secondary; position: sticky; top: 0; z-index: 1; }
.drop-tables thead th:first-child { border-right-color: $color-separator-secondary; left: 0; z-index: 2; @include mobile { left: auto; z-index: inherit; } }
.drop-tables thead th img { display: block; height: 21px; object-fit: contain; width: auto; }
.drop-tables tbody th, .drop-tables tbody td { font-size: 0.85rem; }
.drop-tables tbody tr:hover th, .drop-tables tbody tr:hover td { background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.0125)); }
.drop-tables tbody th { border-right-color: $color-separator-secondary; color: $color-heading-primary; left: 0; position: sticky; text-transform: uppercase; z-index: 1; @include mobile { position: static; } }
.drop-tables tbody td { position: relative; vertical-align: top; }
.drop-tables tbody td::before { bottom: 0; content: ""; display: block; left: 0; position: absolute; top: 0; width: 2px; }
.drop-tables tbody td.bluefull:is(:hover, .on)::before { background-color: $color-section-id-bluefull; }
.drop-tables tbody td.greenill:is(:hover, .on)::before { background-color: $color-section-id-greenill; }
.drop-tables tbody td.oran:is(:hover, .on)::before { background-color: $color-section-id-oran; }
.drop-tables tbody td.pinkal:is(:hover, .on)::before { background-color: $color-section-id-pinkal; }
.drop-tables tbody td.purplenum:is(:hover, .on)::before { background-color: $color-section-id-purplenum; }
.drop-tables tbody td.redria:is(:hover, .on)::before { background-color: $color-section-id-redria; }
.drop-tables tbody td.skyly:is(:hover, .on)::before { background-color: $color-section-id-skyly; }
.drop-tables tbody td.viridia:is(:hover, .on)::before { background-color: $color-section-id-viridia; }
.drop-tables tbody td.whitill:is(:hover, .on)::before { background-color: $color-section-id-whitill; }
.drop-tables tbody td.yellowboze:is(:hover, .on)::before { background-color: $color-section-id-yellowboze; }
.drop-tables dl { margin: 0 0 0.5rem; }
.drop-tables dl:last-child { margin-bottom: 0; }
.drop-tables dt { color: $color-heading-secondary; }
.drop-tables dd { margin: 0; }
.drop-tables code { padding: 0; }
