@import "../variables";

.mag-feeding-table table .stat { text-align: right; white-space: nowrap; }
.mag-feeding-table table th.stat.level::before { content: ""; display: inline-block; height: 0.4em; margin: 0 0.5ch 0 0; vertical-align: 0.16em; width: 0.4em; }
.mag-feeding-table table th.stat.level.def::before { background: $color-def; }
.mag-feeding-table table th.stat.level.pow::before { background: $color-pow; }
.mag-feeding-table table th.stat.level.dex::before { background: $color-dex; }
.mag-feeding-table table th.stat.level.mind::before { background: $color-mind; }
.mag-feeding-table table td.stat code { white-space: nowrap; }
.mag-feeding-table table td.stat.zero code { color: $color-zero; }
.mag-feeding-table table td.stat.positive code { color: $color-positive; }
.mag-feeding-table table td.stat.negative code { color: $color-negative; }
