@import "../mixins";
@import "../variables";

.meta { align-items: center; color: $color-meta; display: flex; flex-direction: row; flex-wrap: wrap; gap: 3px; list-style: none; margin: 0; padding: 0; }
.meta li { align-items: center; display: flex; gap: 3px; }
.meta li:not(:last-child)::after { color: $color-meta; content: "·"; }
.meta .meta-author a { align-items: center; display: flex; gap: 6px; }
.meta .meta-author a img { border: 1px solid $color-separator-primary; border-radius: 50%; height: 1.5rem; object-fit: cover; width: 1.5rem; }
.meta .meta-comments a { align-items: center; display: flex; gap: 3px; }
.meta .meta-comments a svg { fill: $color-link-primary; height: 16px; width: 16px; }
