html { height: 100%; }
body { background: #000 url(/assets/images/scanlines.png); color: #FFF; display: flex; flex-direction: column; font-family: "Open Sans", sans-serif; font-size: 1rem; line-height: 1.6; margin: 0; min-height: 100%; }
a { color: #0FF; text-decoration: none; }
a:hover { text-decoration: underline; }
.wrapper { margin: 0 auto; max-width: 1500px; padding: 0 1rem; }
