#article footer { display: flex; margin: 2rem 0 1rem; }
#article footer #author { color: #AAA; flex: 1; }
#article footer #author a { font-style: italic; }
#article footer #back-to-top { flex: 1; text-align: right; }
