#home { align-items: center; display: flex; flex-grow: 1; border-bottom: 4px solid #39C; padding: 10px; text-transform: uppercase; }
#home .wrapper { text-align: center; }
#home #logo { margin: 0 0 50px; }
#home #logo img { height: 377px; width: 377px; }
#home #domain { display: inline; font-size: 1rem; font-weight: bold; line-height: 1; margin: 0; vertical-align: middle; }
#home #domain #tld { font-weight: normal; }
#home #nav { display: inline; }
#home #nav ul { display: inline; list-style: none; margin: 0; padding: 0; }
#home #nav ul li { display: inline; }
#home #nav ul li::before { content: "|"; margin: 0 0.5ch 0 0; }
#home #nav ul li a { line-height: 1; vertical-align: middle; }
