header { border-bottom: 4px solid #39C; padding: 10px; text-transform: uppercase; }
header .wrapper { align-items: end; display: flex; gap: 0.5ch; }
header #logo { flex-grow: 1; margin: 10px 0; }
header #logo img { display: block; float: left; height: 200px; width: 200px; }
header #domain { display: inline; font-weight: bold; line-height: 1; margin: 0; vertical-align: middle; }
header #domain #tld { font-weight: normal; }
header #nav { display: inline; line-height: 1; }
header #nav ul { display: inline; list-style: none; margin: 0; padding: 0; }
header #nav ul li { display: inline; }
header #nav ul li::before { content: "|"; margin: 0 0.5ch 0 0; }
header #nav ul li a { vertical-align: middle; }

main { background: #036; padding: 20px; }
main a img { border: 3px solid transparent; border-radius: 10px; transition: border 0.25s; }
main a:hover img { border-color: #0FF; margin: 0; }

footer { background: #036; border-top: 4px solid #39C; flex-grow: 1; font-size: 0.8125rem; padding: 10px 0; min-height: 100% }
footer #copyright a { color: #CFF; font-weight: bold; }
