$color-background: #000;
$color-cell-even: #069;
$color-cell-odd: #369;
$color-heading-primary: #cff;
$color-heading-secondary: #6cf;
$color-link-primary: #0ff;
$color-link-secondary: #cff;
$color-link-tertiary: #39c;
$color-meta: #aaa;
$color-muted: #b4d9ff;
$color-primary: #036;
$color-primary-accent: #f39;
$color-secondary: #024;
$color-separator-primary: #39c;
$color-separator-secondary: #069;
$color-separator-tertiary: #036;
$color-stat-def: #4fd1ff;
$color-stat-dex: #ffd84d;
$color-stat-mind: #4dff88;
$color-stat-negative: #f39;
$color-stat-positive: #0f0;
$color-stat-pow: #ff4d5a;
$color-text: #fff;
$color-version-episode-ii: #7a5cff;
$color-version-episode-iv: #4fd1ff;
$color-version-ver-1: #ff7a18;
$color-version-ver-2: #e63900;
$color-zero: #9ac;
$width-mobile: 768px;
$width-tablet: 1024px;
