$color-background: #000;
$color-accent: #f39;
$color-def: #4fd1ff;
$color-dex: #ffd84d;
$color-episode-ii: #7a5cff;
$color-episode-iv: #4fd1ff;
$color-font: #fff;
$color-heading-primary: #cff;
$color-heading-secondary: #6cf;
$color-link: #0ff;
$color-meta: #aaa;
$color-mind: #4dff88;
$color-negative: #f39;
$color-positive: #0f0;
$color-pow: #ff4d5a;
$color-primary: #036;
$color-secondary: #024;
$color-separator-primary: #39c;
$color-separator-secondary: #069;
$color-separator-secondary-alternating: #369;
$color-separator-tertiary: #036;
$color-ver-1: #ff7a18;
$color-ver-2: #e63900;
$color-zero: #9ac;
$width-mobile: 768px;
$width-tablet: 1024px;
