@import "../mixins";
@import "../variables";

html { height: 100%; scroll-behavior: smooth; }
body { background: $color-background url(/assets/images/scanlines.webp); color: $color-text; display: flex; flex-direction: column; font-family: "Open Sans", sans-serif; font-size: 1rem; line-height: 1.6; margin: 0; min-height: 100%; }
a { color: $color-link-primary; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
h1 { font-size: 2rem; line-height: 1.25; margin: 0 0 1.5rem; }
h2 { font-size: 1.5rem; line-height: 1.3; margin: 2rem 0 1rem; }
h3 { font-size: 1.25rem; line-height: 1.35; margin: 1.5rem 0 0.75rem; }
h4 { font-size: 1.125rem; line-height: 1.4; margin: 1.25rem 0 0.5rem; }
h5 { font-size: 1rem; line-height: 1.45; margin: 1rem 0 0.5rem; }
h6 { font-size: 0.875rem; line-height: 1.45; margin: 0.75rem 0 0.25rem; }
hr { border: 0; border-top: 1px solid $color-separator-primary; margin: 2.5rem 0; }
ol, ul { line-height: 1.6; margin: 1rem 0; }
ol ol, ol ul, ul ul, ul ol, { margin: 0; }
ol li, ul li { margin: 0; }
p { font-size: 1rem; line-height: 1.6; margin: 1rem 0; }

#breadcrumbs { font-size: 0.875rem; margin: 0 0 1rem; }
#breadcrumbs ol { list-style: none; margin: 0; padding: 0; }
#breadcrumbs ol li { display: inline; }
#breadcrumbs ol li:not(:nth-last-child(2), :last-child)::after { content: "›"; margin: 0 0 0 0.5ch; }
#breadcrumbs ol li:last-child { background: url(/assets/images/breadcrumb.webp) left top / 15px 15px no-repeat; display: block; font-weight: bold; padding: 0 0 0 18px; }

#container { background: $color-primary; flex-grow: 1; min-height: 100%; overflow-x: clip; padding: 1rem 0; }

#footer { border-top: 1px solid $color-separator-primary; font-size: 0.813rem; padding: 1rem 0 0; }
#footer .copyright a { color: $color-link-secondary; font-weight: bold; }

#header { border-bottom: 1px solid $color-separator-primary; padding: 1rem 0; }
#header .wrapper { display: flex; }
#header .wrapper .logo { align-items: center; color: $color-text; display: flex; gap: 1rem; transition: color 0.2s ease; }
#header .wrapper .logo:is(:hover, :active) { color: $color-link-primary; text-decoration: none; }
#header .wrapper .logo .image { height: 180px; @include mobile { height: 120px; } }
#header .wrapper .logo .text { font-family: Sarpanch, sans-serif; font-size: clamp(1.875rem, calc(2.5vw), 2.5rem); line-height: 1; text-transform: uppercase; white-space: nowrap; }
#header .wrapper .logo .text .site { font-weight: bold; letter-spacing: 0.05em; }
#header .wrapper .logo .text .site .tld { font-weight: normal; }
#header .wrapper .logo .text .tagline { font-size: 0.3em; letter-spacing: 0.195em; margin: 0 0 0 0.25em; }
#header .wrapper .nav { margin: 0 0 0 auto; }
#header .wrapper .nav.max { align-self: center; display: block; @include tablet { display: none; } }
#header .wrapper .nav.min { align-self: start; display: none; @include tablet { display: block; } }
#header .wrapper .nav.min .burger { cursor: pointer; }
#header .wrapper .nav.min .burger svg { fill: $color-muted; height: 24px; }
#header .wrapper .nav.min .burger:is(:hover, :active) svg { fill: $color-link-primary; }
#header .wrapper .nav.min input { display: none; }
#header .wrapper .nav.min .overlay { background: rgba(0, 0, 0, 0.65); display: block; inset: 0; opacity: 0; pointer-events: none; position: fixed; transition: opacity 0.2s ease; visibility: hidden; z-index: 10; }
#header .wrapper .nav.min input:checked ~ .overlay { opacity: 1; pointer-events: auto; visibility: visible; }
#header .wrapper .nav.max .links { display: flex; gap: 2rem; list-style: none; margin: 0; padding: 0; }
#header .wrapper .nav.min .links { background: $color-secondary; bottom: 0; box-shadow: -0.5rem 0 1.5rem rgba(0, 0, 0, 0.25); display: flex; flex-direction: column; list-style: none; margin: 0; padding: 0; position: fixed; right: 0; top: 0; transform: translateX(100%); transition: transform 0.2s ease; width: 17.5rem; z-index: 11; }
#header .wrapper .nav.min input:checked ~ .links { transform: translateX(0); }
#header .wrapper .nav.min .links li { border-bottom: 1px solid $color-separator-secondary; }
#header .wrapper .nav .links li a { align-items: center; color: $color-muted; display: flex; gap: 0.5rem; letter-spacing: 0.05em; line-height: 1; text-transform: uppercase; }
#header .wrapper .nav.max .links li a { padding: 0.4rem 0; position: relative; transition: color 0.2s ease; white-space: nowrap; }
#header .wrapper .nav.min .links li a { padding: 1rem; }
#header .wrapper .nav .links li a:is(:hover, :active, .on) { color: $color-link-primary; text-decoration: none; }
#header .wrapper .nav.max .links li a::after { background: $color-link-primary; bottom: -2px; content: ""; height: 1px; left: 0; position: absolute; transition: width 0.2s ease; width: 0; }
#header .wrapper .nav.max .links li a:is(:hover, :active, .on)::after { width: 100%; }
#header .wrapper .nav .links li a svg { fill: $color-muted; fill-rule: evenodd; height: 0.75em; transform: scaleX(-1); }
#header .wrapper .nav.max .links li a svg { transition: fill 0.2s ease; }
#header .wrapper .nav .links li a:is(:hover, :active, .on) svg { fill: $color-link-primary; }

#main { margin: 0 0 2rem; }

.wrapper { margin: 0 auto; max-width: 1500px; padding: 0 1rem; }
