.contents { background: #024; border-left: 4px solid #39C; border-radius: 4px; margin: 2rem 0; padding: 1rem; }
.contents h2 { font-size: 1.5rem; line-height: 1.3; margin: 0 0 1rem; }
.contents ul { list-style: none; padding: 0; }
.contents *:last-child { margin-bottom: 0; }
