.table { max-width: 100%; margin: 0 0 1.5rem; overflow-x: auto; }
.table table th.stat { position: relative; }
.table table th.stat::after { bottom: 0; content: ""; height: 2px; left: 0; position: absolute; right: 0; }
.table table th.stat.def::after { background: #66ccff; }
.table table th.stat.pow::after { background: #ff6666; }
.table table th.stat.dex::after { background: #ffcc33; }
.table table th.stat.mind::after { background: #66ff99; }
.table table td.stat.zero code { color: #9ac; }
.table table td.stat.positive code { color: #0f0; }
.table table td.stat.negative code { color: #f39; }
